*{
    margin: 0;
    padding: 0;
}
header{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 150px auto;
    color: black;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
.background-img{
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0px;
}
#hero-msg{ display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
}
#hero-img{
    width: 1265px;
    height: 500px;
}
.book{
    margin-left: -700px;
    background-color: saddlebrown;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
