.material-icons-outlined{
    margin-left: 40%;
    
}
.text{
    text-align: center;
}
.background{ 
    margin-left: 25%;
    height: 400px;
    width: 650px;
}
.btn{
    background-color: rgb(78, 78, 255);
    padding: 10px;
    opacity: 0.9;
    color: whitesmoke;
    border-radius: 10px;
    margin: 0px;
    margin-left: 43%;
    width: 190px;
    height: 86px;
    
}
.square{
    width: 195px;
    height: 90px;
    margin-left: -16%;
    border-radius: 6px;
}
.txt{
    text-align: center;
    font-size: 20px;
}
.a{
    
    margin-left: 450px;
    font-size: 40px;
    color: cadetblue;
}
.bob{
    margin-top: 10px;
    margin-left: 500px;
}
.example{
    margin-top: -51px;
    margin-left: 610px;
}
.p1{text-align: center;
    margin-top: 10px;
    margin-left: -151px;
}
.p2{text-align: center;
    margin-top: -34px;
    margin-left: 10px;
}
.b{ text-align: center;
    margin-top: -35px;
    margin-left: 107px;
}
.p3{ text-align: center;
    margin-top: -35px;
    margin-left: 274px;
}
.btn1{
    background-color: rgb(78, 78, 255);
    padding: 10px;
    opacity: 0.9;
    color: whitesmoke;
    border-radius: 10px;
    margin: 0px;
    margin-left: 43%;
    width: 190px;
    height: 86px;
    
}