*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-row: inherit;
    grid-template-areas: 'left-side right-side';
    grid-template-columns: 560px 700px;
    grid-column-gap: 1em;
    grid-row-gap: 50px;
    grid-gap: 1em;
    grid-row-end: 3;
grid-row-start: auto;
grid-template-rows: 1000px 1000px;
}
.right-side{ 
   
    padding: 9rem;
    max-width: 900px;
    width: 900px;
}
.header{
    text-align: center;
    line-height: 1.3;
    margin-bottom: 40px;
}
.header h1{
    font-size: 60px;
    background: -webkit-linear-gradient(red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-background-fill-color: transparent;
    text-transform: uppercase;
}
h4{
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 60px;
}
.input-container i{
    position: absolute;
    padding: 10px;
    color: blue;
}
input[type=email],[type=name]{
    width: 100%;
    padding: 10px;
    text-align: left;
    margin-bottom: 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
}
input[type=email]:focus{
    border: 2px solid #fff
}
input[type=name]:focus{
    border: 2px solid #fff
}
.btn{
    background-color: brown;
    border: none;
    padding: 10px;
    width: 50%;
    opacity: 0.9;
    color: whitesmoke;
    border-radius: 10px;

}
h2{
    text-align: right;
} 
.square{ padding: 0;
    margin: 5px;
    width: 15px;
}
.left-side{ background: url(styles/images/glasses.png);
    max-width: 900px;
    height: 900px
    }
